@model Vat.Models.Organization

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOrganizationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOrganizationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatregNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatregNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCategoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProductionCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProductionCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeductVatInSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeductVatInSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSellStandardVatProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSellStandardVatProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatResponsiblePersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatResponsiblePersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatResponsiblePersonDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatResponsiblePersonDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatResponsiblePersonMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatResponsiblePersonMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatResponsiblePersonEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatResponsiblePersonEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatResponsiblePersonSignUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatResponsiblePersonSignUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnlistedNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnlistedNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaleSimplified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSaleSimplified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsImposeServiceCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsImposeServiceCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceChargePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceChargePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUserSignInSalesTaxInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUserSignInSalesTaxInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireSku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequireSku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireSkuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequireSkuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireGoodsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequireGoodsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequirePartNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequirePartNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequireComplecatedInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequireComplecatedInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNameEng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNameEng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNameBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNameBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCategory.BusinessCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessNature.BusinessNatureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomsAndVatcommissionarate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomsAndVatcommissionarate.CustomsAndVatcommissionarateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialActivityNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialActivityNature.FinancialActivityNatureId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrganizationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
